.gallery {
    max-width: 880px;
    margin: 0 auto;
 }

.gallery__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 17px;
    padding: 0;
    margin: 0 auto;
}

@media screen and (max-width: 320px) and (max-width: 768px) {
.gallery {
    margin-top: 0;
}
.gallery__cards {
    width: calc(100% - 40px);
    }
      
}