.page {
    max-width: 1280px;
    min-height: 1217px;
    font-family: "inter", Arial, sans-serif;
    background-color: #000;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 742px 1fr;
    grid-template-areas: "header header header"
    "profile profile profile"
    "gallery gallery gallery"
    "footer footer footer";
    margin: 0 auto; 
    -moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}


@media screen and (max-width: 320px) and (max-width:1280px) {
    .page {
       display: grid;
       margin: 0 auto;
       background-color: #000;
    }

    .header {
        width: 90%;
    }
}